@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root{
    --white:hsl(0, 0%, 100%);
    --light-gray:hsl(212, 45%, 89%);
    --grayish-blue:hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);

    --10px: 0.625rem;
    --15px: 0.9375rem;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{background-color: var(--light-gray);}

.container{
    max-width: 90rem;
    min-height:100vh;
    margin: 0 auto;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{
    max-width:21.4rem;
    display: block;
    background-color: var(--white);
    border-radius:var(--15px);
    padding: 0.95rem 1.1rem;
    margin: var(--10px);
    text-align: center;
}

.qr-code,
.description{
    max-width:19.2rem;
}

.qr-code img{
    width:100%;
    object-fit: contain;
    border-radius: var(--10px);
}

.description h1,
.description p{
    padding: 0 var(--10px);
}

.description h1{ 
    color:var(--dark-blue);
    font-size:1.375rem;
    line-height: 2rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    margin:1.3rem 0 0.77rem 0;
}
.description p{ 
    color: var(--grayish-blue);
    font-size: var(--15px);
    font-weight: 400;
    letter-spacing: 0.015rem;
    margin:0 0.6rem 1.82rem;
}

.attribution p{ 
    font-size: var(--15px);
    text-align: center;
    margin: var(--15px);
}
.attribution a { color: hsl(228, 45%, 44%);}